# Virtual Environment
venv/
.venv/
env/
.env/

# Python Bytecode & Cache
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.mypy_cache/

# IDEs & Editors
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp

# OS Files
.DS_Store
Thumbs.db

# Backups
backups/

# PyInstaller & build outputs
build/


# Office Documents (of course we do not commit Word docs)
*.docx
*.doc
~$*.docx
~$*.doc